<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
         @import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
        body
        {
            text-align: center;
            background-color: black;
            color: darkred;
        }
        h1
        {
            font-family: "Girassol";
            font-size: 200px;
            text-align: center;
            background-color: black;
            color: darkred;
        }
    </style>
</head>
<body>
<h1>
<img src="https://st.depositphotos.com/1350793/1852/i/450/depositphotos_18525033-stock-photo-flaming-number.jpg"height="15%" width="15%">
<img src="https://phoneky.co.uk/thumbs/screensavers/down/cartoon-anime/satan_887sv5pn.gif" height="12%" width="12%">
<img src="https://st.depositphotos.com/1350793/1852/i/450/depositphotos_18525033-stock-photo-flaming-number.jpg"height="15%" width="15%"> </br>
    The real Number of the Beast
</h1>

</body>
</html>