{% extends "base.html" %}

{% block content %}
    <h2>People info</h2>

{% if people %}
    <h3>
        {{ people.first_name }}
        {{ people.second_name }}
    </h3>
    <span class="grey"> <b>Пол:</b> </span> <span class="text">{{ people.sex }} </span> </br>
    <span class="grey"> <b>День рождения:</b></span> <span class="text"> {{ people.birthday }} </span> </br>
    <span class="grey"> <b>Проблемы со здоровьем:</b></span> <span class="text"> {{ people.health_problems }} </span> </br>
    <span class="grey"> <b>Причина продажи:</b></span> <span class="text"> {{ people.reason }} </span> </br>
    <span class="grey"> <b>Продавец:</b></span> <span class="text"> {{ people.seller }} </span> </br>
    <span class="grey"> <b>Цена:</b></span> <span class="text"> {{ people.buy_price }} </span> </br>

    {% else %}
      <p>There are no peoples in the database with this ID.</p>
    {% endif %}
<p class="backb">
    <a href="/people_list"><button type="button" class="btn btn-outline-light">Back to list</button></a>
    <a href="/people/{{ people.id }}"><button type="button" class="btn btn-outline-light">Edit</button></a>
</p>
{% endblock %}