{% extends "base.html" %}

{% block content %}
    <h2>People List</h2>



    {% if people_list %}
    <ul>

      {% for data in people_list %}
      <li>
        <a href="{{ data.get_absolute_url }}">{{ data.pk }}</a> ({{ data.first_name }} {{ data.second_name }})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no people in the database. </br> <img src="https://media3.giphy.com/media/H7xRjGhc1PnIuAnHWh/source.gif" width="30%"; height="30%"> </p>
    {% endif %}
{% endblock %}