{% extends "base.html" %}

{% block content %}
    <h2>Race List </br> </h2>



    {% if race_list %}

<table border="1" width="50%" cellpadding="5" align="center" bordercolor="black">
      {% for data in race_list %}

            <tr> <th>{{ data.name }}</th> </tr>

      {% endfor %}
 </table>

    {% else %}
      <p>There are no races in the database. </br> <img src="https://media3.giphy.com/media/H7xRjGhc1PnIuAnHWh/source.gif" width="30%"; height="30%"> </p>
    {% endif %}
{% endblock %}