<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vitals shop</title>
     {% load staticfiles %}
     {% load bootstrap4 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
       @import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
       @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
    body
   {
       background-color: black; /* Цвет фона веб-страницы */
   }
    h1
   {
       font-family: "Girassol";
       text-align: center;
       font-size: 180px;


   }
   p
   {
       color:darkred;
       font-family:"Shadows Into Light";
       text-align: center;
       font-size: 80px;
   }

  </style>
</head>
<body>
    <h1 class="mt-2">Succsesfully added</h1>
    <p>
        <img src='http://pics.livejournal.com/angel_avvadon/pic/000apb0w/s640x480' width="500"; height="430"> <br/> AVE SATAN </br>
        <a href="/"> <button type="button" class="btn btn-outline-danger btn-lg">Home</button> </a>
    </p>


</body>
</html>